body {
    background-color: #fdf6e3;
}

.vars_table {
    background-color: #fbfbfb;
    border: 1px solid black;
    border-collapse: collapse;
    font-family: "Inconsolata";
    font-size: 10pt;
    line-height: 1.1;
    overflow: auto;
}

.vars_cell {
    border: 1px solid black;
    padding: 5px;
}

.printed_output {
    font-family: "Inconsolata";
    font-weight: bold;
    font-size: 9pt;
}
