name: Makefile CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3
        
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Build and push
        uses: docker/build-push-action@v4
        with:
          context: .
          file: ./swish/Dockerfile
          platforms: linux/amd64,linux/arm64
          push: false
          tags: cclaw/app:latest
          cache-from: type=gha
          cache-to: type=gha,mode=max
